html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: $font-md; //  18px
  line-height: 1.3;
  font-weight: 300;
  background: $veryLightGray;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// flex styles
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sc {
    justify-content: space-center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons
button,
.button {
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
}

.hide-mobile {
  @include breakpoint-down(md) {
    display: none;
  }
}

.hide-desktop {
  @include breakpoint-up(lg) {
    display: none;
  }
}
